<!DOCTYPE html>
<html>

<head>
    <title>News Show</title>
	{% block stylesheets %}
    <link href="{{ asset('bundles/newsshow/css/design.css') }}" rel="stylesheet" type="text/css"  >
	{% endblock %}
</head>

<body>
    {% block javascripts %}
	<script src="{{ asset('bundles/newsshow/js/jquery-1.9.1.min.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/newsshow/js/jquery.masonry.min.js') }}" type="text/javascript"></script>
    {% endblock %}

	<div id="main">
		<div id="navBar">
            {% block navBar %}

            {% endblock %}
			<div style="clear:both;"> </div>
		</div>
		
		<div id="mainContent">
            {% block mainContent %}

            {% endblock %}
		</div>
		
		<script type="text/javascript">
			
			$('#NewsBox').masonry({
				  itemSelector: '.newsSummaryItem',
				  columnWidth: 400
				});


		</script>
	</div>


</body>
</html>
