{% extends 'NewsShowBundle:Default:index.html.twig' %}

{% block mainContent %}
    <div id="loginBox">
        <form id="loginForm" method="post"  action="query.php">
            <span>  برای ورود نام کاربری و رمز عبور خود را وارد کنید </span> <br/>
            <input type="text" name="userName"/> :نام کاربری
            <br/>
            <input type="password" name="passWord"/> :کلمه‌ی عبور
            <br/>
            <input type="submit" name="login" value="ورود"/>
            <input type="hidden" name="formType" value="login"/>
            <div id="login_result">  </div>
        </form>
        <form id="signupForm" method="post" action="query.php">
            <span> برای ساختن اکانت نام‌ کاربری و کلمه عبور خود را وارد نمایید </span> <br/>
            <input type="text" name="userName"/>  :نام کاربری
            <br/>
            <input type="password" name="passWord"/> :کلمه‌ی عبور
            <br/>
            <input type="submit" name="signup" value="ثبت نام"/>
            <input type="hidden" name="formType" value="signup"/>
            <div id="signup_result"> </div>
        </form>
        <div style="clear:both;"></div>
    </div>

    <script type="text/javascript">

        $('#navLogin').css('background-color','#BF9004');

    </script>
{% endblock %}
