{% extends 'NewsShowBundle:Default:index.html.twig' %}

{% block mainContent %}

    <div id="WriteBox">
        {{ form(form ,{'id' : 'WriteForm'}) }}

    </div>

    <div style="clear:both;"></div>

    <script type="text/javascript">


        $('#navWriteNews').css('background-color','#BF9004');
    </script>
{% endblock %}
