/*
Color theme:
dark: 25261E
light gold: BF9004
dark gold: A66D03
bezh? A69576
whitish F2F2F2
*/
body
{
	background-color: #D9D1BA;
}
#main
{
	width:800px;
	margin: 0 auto;
}

#navBar
{
	margin-top:30px;
	background-color: #A66D03;
	line-height:30px;
	vertical-align:center;
}

#navBar .navItem
{
	float:left;
	padding-right:10px;
	padding-left:10px;
}

#navBar .navItem:hover
{
	background-color: #BF9004;	
	cursor:pointer;
}

#navBar #navSignOut
{
    float:right;
}

#navBar #navWelcome
{
    background-color: #A66D03;
    cursor:default;
    float:right;
}

#mainContent
{
	margin-top:20px;
	/*background-color:#A99A42;*/
}

#NewsBox
{
    background-color:#A99A42;
}

.newsSummaryItem
{
	width:380px;
	float:left;
	background-color: #DCD191;
	margin-right:0;
	margin-left:10px;
	margin-top:10px;
	margin-bottom:10px;
}

.newsSummaryItem img
{
	max-width:100px;
	float:right;
	margin-top:10px;
	margin-right:10px;
	
}

#LoginBox
{
    background-color:#A99A42;
}

#loginForm , #signupForm
{
	font-family:tahoma;

	padding:20px;
	
}
#loginForm 
{
    float:right;
	border-left:1px #D9D1BA solid;
	
}

#CategoriesBlock
{
    background-color:#A99A42;
    width:395px;
    float:left;
}

.categoryItem
{
    float:left;
    height:20px;
    margin:5px;
    padding:3px;
    background-color: #DCD191;
}

.categoryItem:hover
{
    background-color: #786300;
    cursor:pointer;
}

#SearchBlock
{
    float:left;
    background-color:#A99A42;
    height:80px;
    width:395px;
    margin-left:10px;
}

#SearchResultsBlock
{
    background-color:#A99A42;
    margin-top:10px;
    min-height:200px;
}

#WriteBox
{
    background-color:#A99A42;
}

#WriteForm
{
    padding:10px;
}

